/* */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    font-size: 14px;
    line-height: 1.8;
    color: #222;
    font-weight: 400;
    background-color: #2F2F2F;
}

.container {
    width: 660px;
    position: relative;
    margin: 100px auto;
}

h1 {
    /* line-height: 1.66; */
    margin: 0;
    padding: 0;
    font-weight: 900;
    color: #222;
    font-family: 'Montserrat';
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}


/* Form thông tin */

.dangtin-content {
    background: #fff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    padding: 50px 85px;
}

.form-group {
    overflow: auto;
    margin-bottom: 20px;
}

.form-input {
    height: 60px;
    border: 1px solid #ebebeb;
    /* border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px; */
    /* margin: 5px; */
    padding: 17px 30px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;
    color: #222;
    border: 3px solid #0D0D0D;
    /* box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.15) inset, 0 3px 10px 0 rgba(0, 0, 0, 0.19) inset; */
}


/* label cho input */

.form-group #lb-diachi,
.form-group #lb-loaiphong,
.form-group #lb-price,
.form-group #lb-dientich {
    text-transform: uppercase;
    font-size: 21px;
    padding: 20px 5px;
}


/* các ô input */

#diachi {
    width: 99.5%;
    margin-bottom: 7px;
}

.form-group #loaiphong {
    width: 63%;
    margin-right: 0.1%;
}

.form-group #soluong {
    margin-left: 0.1%;
    width: 35.8%;
}

.form-group #price {
    width: 63%;
    margin-right: 0.1%;
}

.form-group #price-time {
    width: 35.8%;
    margin-left: 0.1%;
}

.form-group #dientich {
    width: 99.5%;
}

.form-group #unit {
    position: absolute;
    left: 80%;
    bottom: 15%;
}


/* label cho radio */

.form-group #lb-chung-chu,
.form-group #lb-khong-chung,
.form-group #lb-chung-phong-tam,
.form-group #lb-khep-kin,
.form-group #lb-chung-khu-bep,
.form-group #lb-rieng-khu-bep,
.form-group #lb-khong-nau-an,
.form-group #lb-co-dieu-hoa,
.form-group #lb-khong-dieu-hoa,
.form-group #lb-co-ban-cong,
.form-group #lb-khong-ban-cong,
.form-group #lb-tu-lanh,
.form-group #lb-may-giat,
.form-group #lb-giuong-tu {
    font-size: 20px;
    padding-right: 4%;
    padding-left: 2%;
}


/* h4 cua dieu kien vat chat */

.form-group .dieu-kien-vat-chat {
    text-transform: uppercase;
    font-weight: 500;
    padding-bottom: 15px;
}

.form-group .chung-chu-hay-khong,
.form-group .phongtam {
    margin-bottom: -25px;
    font-size: 21px;
    font-weight: 350;
}

.form-group .bep {
    font-size: 21px;
    font-weight: 350;
    padding-top: 15px;
}

.form-group .dieu-hoa {
    font-size: 21px;
    font-weight: 350;
    padding-top: 15px;
}

.form-group .ban-cong {
    font-size: 21px;
    font-weight: 350;
    padding-top: 15px;
}

.form-group .other {
    font-size: 21px;
    font-weight: 350;
    padding-top: 15px;
}

.form-submit {
    width: 100%;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    padding: 17px 20px;
    color: #fff;
    text-transform: uppercase;
    border: none;
    background-image: linear-gradient(to left, #74ebd5, #9face6);
}