*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

.container{
    background-color: #2f2f2f;
    text-align: center;
    height: 100vh;
}
.dangky{
    width: 40%;
    background-color: #f2f3f7;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.dangky .header h1{
    font-size: 35px;
    margin-top: 15px;
    margin-bottom: 7.5px;
} 

#username,
#email,
#last-name,
#first-name,
#phone-number,
#cmt,
#dia-chi, 
#password,
#re-password,
#users
{
    width: 40%;
    height: 45px;
    margin: 15px 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2) inset, 0 3px 10px 0 rgba(0, 0, 0, 0.19) inset;
}
#username,
#email,
#last-name,
#first-name,
#phone-number,
#cmt,
#dia-chi, 
#password,
#re-password,
#users:focus{
    outline: none;
}

#sign-up{
    width: 45%;
    height: 40px;
    margin: 15px;
    border: none;
    border-radius: 25px;
    background-color: #F2561D;
    font-size: 18px;
    color: #F2F2F2;
}

#sign-up:focus{
    outline: none;
}

#sign-up:hover{
    background-color: #D93223;
}

p {
    margin-bottom: 15px;
}

p a{
    text-decoration: none;
    color: #2f2f2f;
}
p a:hover{
    color: #F2561D;
}